<!--FOOTER-->
<footer>
    <div class="copyright">
        <p class="copyright-text"><i class="icon far fa-copyright"></i> vin fino 2019 | Tous
            droits réservés | <a href="/"><span>mentions légales</span></a></p>
    </div>
</footer>