<p>"Bienvenue dans le gestionnaire de contacts !"</p>
<p>"1 : Lister les contacts"</p>
<p>"2 : Ajouter un contact"</p>
<p>"3 : Lister nouveau contact"</p>
<p>"4 : Supprimer un contact"</p>
<p>"5 : Quitter"</p>


<section class="container">
    <form method="POST" action="/formulaire">
        <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" name="nom">
        </div>
        <div class="form-group">
            <label>Prénom</label>
            <input type="text" class="form-control" name="prenom">
        </div>
        <div class="form-group">
            <label>Téléphone</label>
            <input type="text" class="form-control" name="telephone">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>