<h2>Gestionnaire des contacts</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="row">Numero</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Région</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<bouton>
    <a href="formulaire">
        <p>formulaire</p>
    </a>
</bouton>

<button id="clickMe">Cliquez moi !!</button>

<script src="/js/tableauJSON.js"></script>