<!--HEADER-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>VIN FINO</h1>
            </div>
        </div>
    </div>
</header>

<!--IMAGE-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 img-index"></div>
        </div>
    </div>
</section>

<!--BUTTON-->
<section>
    <div class="container-btn">
        <div class="row">
            <div class="col-md-12 btn">
                <div>
                    <a href="/user/create">
                        <button type="button" class="btn btn-primary">inscription</button>
                    </a>

                    <a href="/user/login">
                        <button type="button" class="btn btn-primary">connexion</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>